@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 10px;
}

 ::-webkit-scrollbar-track {
    background: #f1f1f1;
}

 ::-webkit-scrollbar-thumb {
    /* background: #888; */
    @apply bg-gray-200;
}

 ::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-300;
}